AWS_REGION=us-east-1
MITOS_RDS_HOST=mitos-colombia-prod.c2v4uumucd2n.us-east-1.rds.amazonaws.com
MITOS_RUNTIME_SECRET_ARN=arn:aws:secretsmanager:us-east-1:907264907058:secret:mitos-colombia/prod/runtime-sBLLFm
MITOS_STORAGE_BACKEND=s3
MITOS_MEDIA_BUCKET=mitos-colombia-907264907058-media
MITOS_MEDIA_BASE_URL=https://media.mitosdecolombia.com
MITOS_PAYMENT_QUEUE_URL=https://sqs.us-east-1.amazonaws.com/907264907058/mitos-colombia-payments
MITOS_BOLD_INBOX_SECRET_ARN=arn:aws:secretsmanager:us-east-1:907264907058:secret:mitos-colombia/prod/bold-inbox-DqhM3P
